body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

#timer-section {
    text-align: center;
    margin: 2em 0;
}

#timer {
    font-size: 2em;
    color: #ffffff;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: flex;
    width: 100%;
    bottom: 0;
}

#about-us {
    text-align: center;
    margin: 2em 0;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.links .icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.links .icon:hover {
    transform: scale(1.1);
}
